.login {
    width: 400px;
    background: white;
    border: 1px solid whitesmoke;
    box-shadow: 0 2px 4px black, 0 8px 16px black;
    border-radius: 8px;
    padding: 1rem;
    align-items: center;
    text-align: center;
}

.login > input {
    border-radius: 8px;
    border: 2px solid whitesmoke;
    outline: none;
    color: black;
    margin: 0.5rem 0;
    padding: 0.5rem 0.75rem;
    width: 90%;
    font-size: 1rem;
}

.login > .button {
    background-color: rgb(68, 148, 214);
    border: 1px solid lightblue;
    color: white;
    font-size: 1.25rem;
    padding: 0.5rem;
    margin: 0.5rem 0;
    border-radius: 8px;
    outline: none;
    cursor: pointer;
}